 .root {
    -fx-background-color: #EEEEEE;
}
 .root_rectangle {
     -fx-fill: mediumpurple;
     -fx-border-radius: 0px 70px 0px 0px ;
     -fx-background-radius: 50px 50px 50px 50px;
 }

 .login_button {
     -fx-background-radius:  20px 20px 20px 20px;
     -fx-background-color: #F1EAFF;
     -fx-font-family: Candara;
     -fx-font-size: 20px;
     -fx-font-weight: 30px;
     -fx-text-fill: #9370DBFF;
 }
 .login_button:hover{
     -fx-background-color: #9370DBFF;
     -fx-text-fill: #F1EAFF;
 }
 .login_text_feild {
     -fx-background-color: rgba(255, 255, 255, 0.5);
     -fx-padding: 5px 5px 5px 15px;
     -fx-prompt-text-fill: black;
     -fx-text-fill: black;
     -fx-background-radius: 20px 20px 20px 20px;
     -fx-font-size: 13px;
 }

 .shape {
     -fx-fill: mediumpurple;
     -fx-arc-height: 50px;
     -fx-arc-width: 50px;
     -fx-alignment: center;
 }

 .shape_rec_one {
     -fx-fill: #D0A2F7;
     -fx-arc-width: 50px;
     -fx-arc-height: 50px;
 }
 .shape_rec_two {
     -fx-fill: #DCBFFF;
     -fx-arc-height: 50px;
     -fx-arc-width: 50px;
 }
