.table-view {
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-fill: mediumpurple;
}

.label:hover{
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-style: bold;
}

.label:focused{
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-style: bold;
}